$font-raleway : "Raleway" , cursive;
$font-roboto : "Roboto Mono" , cursive;
$font-stick : "Stick No Bils" , cursive;
$font-birth : "Birthstone" , cursive;


$color-basic: #003859;
$color-basic-bg: #003859;
$color-second : #00A5C4;
$color-second-bg : #00A5C4;
$color-yellow: #FFD289; 